html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(132, 234, 219);
  --background2: rgb(196, 242, 222);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  font-size: 16px;
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  font-size: 16px;
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(255, 255, 255);
  font-size: 16px;
}

.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.container {
  background-color: var(--background2);
}

.column {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(128, 204, 241);
}

.row {
  display: flex;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text-footer);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}