html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
}




footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}